.navbar{
	background: #FFFFFF!important;
}

.navbar li{
	display: inline-block;
	text-align: center;
}

.navbar{
    font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 17px;
}

a{
	padding-left: 50px;
	font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
}

.LI-title{
	font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
}
a:hover{
	color: lightseagreen!important;
}

.img-responsive{
	overflow: hidden!important;
}

.picture{
	width: 1927px!important;
}

.container{
	background-color: white;
	position:absolute;
	top: 25%;
	right: 300px;
	padding: 20px;
	width: 310px!important;
	height: auto;
}


h2{
    font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
	font-weight: 100!important;
}

h4, p{
    font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
}

.form-control{
    font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
	padding: 5px!important;
}

.form-group{
	padding: 0!important;
	line-height: 15px!important;
}

.error-message{
	padding: 0!important;
	margin: 0!important;
}

.LI-profile-badge{
	padding-bottom: 10px;
}


/* Style all font awesome icons */
.fa {
    text-align: center;
    text-decoration: none;
}

/* LinkedIn hover effect*/
.fa:hover {
    opacity: 0.7;
	text-decoration: none!important;
}

/*removed the stubbern line under the icon when pressed*/
.fa:visited, .fa:active, .fa:focus {
    text-decoration: none!important;
}

@media screen and (max-width: 768px){
	.picture{
		margin-left:-100%;
	}
}

@media screen and (min-width: 1900px){
	.picture{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1041px) {
	#topFixedNavbar1 ul li a{
		padding: 5px!important;
	}
}

@media screen and (min-width: 150px) and (max-width: 1374px){
	.container{
	left: 0;
	width: 310px!important;
	height: auto;
	}
}

.footer {
    font-family: -apple-system;
    font-family: '-apple-system','Century Gothic' 	!important; /* iOS 8 compatible, credit: @MarcoBoschi*/
    font-family: "blisslight", blisslight, "blissregular", blissregular, Arial, sans-serif;
  	background-color: white;
   	position: fixed;
    bottom: 0;
    width: 100%;

}